<div class="flex flex-row flex-wrap m-auto">
        {{!-- {{data.artists}} --}}
    {{#each data.body.artists.items}}
        <div class="w-3/12 h-46">
                <div class=" bg-gray-100 m-4 rounded">
                        <div class="w-100 bg-green-100 rounded-t">
                            <img src="{{images.0.url}}" alt="" class="rounded-t">
                        
                        </div>
                    <div class="flex flex-col h-24 m-auto justify-center items-center">
                        <h2 class="text-xl">
                            {{name}}
                        </h2> 
                        
                            <a href="/albums/{{id}}" class="rounded  text-sm bg-red-500 w-32 text-white text-center p-1">
                            View Albums
                        </a>
                        

                    </div>
                </div>

        </div>
    {{/each}}
</div>