<div class="flex flex-col flex-wrap m-auto">
    {{!-- Header --}}
    <div class="h-16 bg-green-400 w-100 flex items-center">
        <div class="h-12 text-4xl font-bold bg-green-400 ml-4">
           Title
        </div>
    </div>
    {{#each data.body.items}}
    <div class="w-100 h-16">
        <div class=" bg-gray-100 rounded ">
            <div class="w-100 bg-green-100 rounded-t">
                <img src="{{images.0.url}}" alt="" class="rounded-t">

            </div>
            <div class="flex flex-row justify-between items-center">
                <h2 class="text-xl pl-4">
                    {{name}}
                </h2>

                {{!-- <a href="/album/{{id}}" class="rounded  text-sm bg-red-500 w-32 text-white text-center p-1">
                    View Tracks
                </a> --}}
                <audio controls src="{{preview_url}}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>


            </div>
        </div>

    </div>
    {{/each}}
</div>